/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.text{
  font-size: var(--fontSize);
}
.secondaryColor1{
  color: var(--secondaryColor1);
}
.secondaryColor2{
  color: var(--secondaryColor2);
}
.bgSecondary1{
  background-color: var(--secondaryColor1);
}
.bgSecondary2{
  background-color: var(--secondaryColor2);
}
.size{
  width: 90%;
  margin: auto;
}
.background{
  background-color: var(--backgroundColor);
  color: var(--primaryColor);
}
.title{
  font-size: 17px;
  font-weight: var(--smallFont);
}
.subtitle{
  font-size: 25px;
  font-weight: var(--normalFont);
}
.navbar-brand{
  margin-top: -15px !important;
  margin-right: 100px;
  color: var(--primaryColor);
}
.nav-section{
  text-transform: uppercase;
  background-color: var(--primaryColor) !important;
}
.navbar{
  padding: 20px 0 10px 0 !important;
  display: flex !important;
  align-items: center;
}
.navbar-nav{
  justify-content: space-between;
  /* color: var(--primaryColor); */
}
.offcanvas{
  background-color: rgba(128, 128, 128, 0.185);
  color: var(--primaryColor) ;
}
nav li a{
  color: var(--primaryColor) !important;
}
.nav-buttons{
  justify-content: space-around !important;
}
.header{
  background-color: var(--backgroundColor);
}
.header{
  color: var(--primaryColor);
}
.about{
  padding-top: 100px !important;
}
.main-text1{
  font-weight: var(--normalFont);
  font-size: 30px;
}
.main-text2{
  font-weight: 900;
  font-size: 40px;
}
.main .rating .col-lg-3{
  margin-top: 10px;
}
.box{
  background-color: black;
  color: var(--primaryColor);
}
.about .div2{
  margin-top: 30px;
}
.roadmap .box div{
  justify-content: space-between;
}
.roadmap .phase-list{
  line-height: 10px;
}
.roadmap .line .bg-dark{
  height: 1040px;
  
}
.roadmap .line{
  margin-left: 50%;
  margin-top: -23%;
}
.roadmap .right{
  margin-left: 60% !important ;
  margin-top: 3%;
}
.roadmap .strategy{
  margin-top: -750px;
}
.roadmap .left{
  margin-top: -3%;
}
.team .box h2{
  transition: color 0.3s;
}
.team .box:hover h2{
  color: var(--secondaryColor1);
}
.team .box img{
  transition: transform 0.3s;
}
.team .box:hover img{
  transform: scale(1.1);
}
.question-box{
  padding: 20px;
  background-color: var(--backgroundColor);
  margin-bottom: 10px;
  color: var(--primaryColor);
}
.footer .social-media img{
  width: 25px;
}
.footer .social-media div{
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.185);
  margin: 15px;
  border-radius: 5px;
}
.footer .attribution {
  border-top: thin solid rgba(128, 128, 128, 0.185);
}

@media (max-width: 415px){
  .text{
    font-size: var(--fontSize);
  }
  .secondaryColor1{
    color: var(--secondaryColor1);
  }
  .secondaryColor2{
    color: var(--secondaryColor2);
  }
  .bgSecondary1{
    background-color: var(--secondaryColor1);
  }
  .bgSecondary2{
    background-color: var(--secondaryColor2);
  }
  .size{
    width: 95%;
    margin: auto;
  }
  .title{
    font-size: 17px;
    font-weight: var(--smallFont);
  }
  .subtitle{
    font-size: 25px;
    font-weight: var(--normalFont);
  }
  .navbar-brand{
    margin-top: -15px !important;
    margin-right: 100px;
    color: var(--primaryColor);
  }
  .nav-section{
    text-transform: uppercase;
    background-color: var(--backgroundColor) !important;
    padding-bottom: 5px !important;
  }
  .navbar{
    padding: 20px 0 10px 0 !important;
    display: flex !important;
    align-items: center;
  }
  .navbar-nav{
    justify-content: space-between;
    /* color: var(--primaryColor); */
  }
  .offcanvas{
    background-color: rgba(128, 128, 128, 0.185);
    color: var(--primaryColor) ;
  }
  nav li a{
    color: var(--primaryColor) !important;
  }
  .nav-buttons{
    justify-content: space-around !important;
  }
  .header{
    background-color: var(--backgroundColor);
  }
  .header{
    color: var(--primaryColor);
  }
  .about{
    padding-top: 100px !important;
  }
  .about .btn-div , .community .btn-div{
    display: flex;
    justify-content: start !important;
  }
  .about .btn-div button , .community .btn-div button{
    /* padding: 10px 30px 10px 30px !important; */
    margin: 0 !important;
  }
  .slide-div {
    opacity: 0;
    /* transform: translateX(-100px); */
    transition:  transform 1s ease-in-out;
  }
  
  .slide-in {
    opacity: 1;
    transform: translateX(0);
  }
  .slide-out{
    opacity: 0;
    transform: translateX(-100%); /* Slide out to the left */

  }
  
  .main{
    margin-top: -25px !important;
    padding: 0 !important;
  }
  .main-text1{
    font-weight: var(--normalFont);
    font-size: 25px;
  }
  .main-text2{
    font-weight: 900;
    font-size: 30px;
  }
  .main .img-div {
    display: flex;
    justify-content: center !important;
  }
  .main img{
     width: 100% !important;
  }
  .main button{
    /* margin: 0 !important; */
    /* margin-top: 10px !important; */
    /* margin: 10px 5px 0 0; */
    padding: 10px 30px 10px 30px!important;
  }
  .box{
    background-color: black;
    color: var(--primaryColor);
  }
  .roadmap .box div{
    justify-content: space-between;
  }
  .roadmap .line .bg-dark{
    height: 1040px;
    
  }
  .roadmap .line{
    display: none !important;
    margin-left: 50%;
    margin-top: -23%;
  }
  .roadmap .right{
    margin-left: 0 !important ;
    /* margin-top: 3%; */
  }
  .roadmap .strategy{
    margin-top: 0 !important;
  }
  .roadmap .left{
    margin-top: 0 ;
  }
  .roadmap .box{
    margin-top: 10px !important;
  }
  .team .box h2{
    transition: color 0.3s;
  }
  .team .box:hover h2{
    color: var(--secondaryColor1);
  }
  .team .box img{
    transition: transform 0.3s;
  }
  .team .box:hover img{
    transform: scale(1.1);
  }
  .question-box{
    padding: 20px;
    background-color: grey;
    margin-bottom: 10px;
    color: var(--primaryColor);
  }
  .footer .social-media img{
    width: 25px;
  }
  .footer .social-media div{
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.185);
    margin: 15px;
    border-radius: 5px;
  }
  .footer .attribution {
    border-top: thin solid rgba(128, 128, 128, 0.185);
  }
}
