body{
  width: 100% !important;
}
:root{
  --primaryColor: rgb(255,255,255);
  --secondaryColor1: rgb(112,215,250);
  --secondaryColor2: rgb(1,82,199);
  --backgroundColor: rgb(3,11,33);
  --smallFont: 600;
  --normalFont: 800;
  --bigFont: 1000;
  --fontSize: 20px;
}